@using System.Globalization
@model IEnumerable<TigerTix.Web.Models.TicketDBModel>

@section Styles{
    <link rel="stylesheet" href="~/css/TicketHomePage.css"/>
}

@{
    ViewData["Title"] = "Ticket Listings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clemson Tigers Football</h1>
<div class="ticket-list">
    <div class="ticket-item">
      <img src="~/logo.jpeg" alt="Event Image">
      <h2>Clemson At Wakeforest</h2>
      <p>Date: Saturday, October 12, 2024</p>
      <p>Location: Winston-Salem, NC</p>
      <button>Buy Tickets</button>
    </div>

@foreach (var ticket in Model)
{
    <div class="ticket-item">
        <img src="@ticket.TicketPath" alt="Event Image">
        <h2>@ticket.TicketTitle</h2>
        <p>Date: @(DateTime.ParseExact(ticket.TicketDate, "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("D", new CultureInfo("en-US")))</p>
        <p>Location: @ticket.TicketLocation</p>
        <button>Buy Tickets</button>
    </div>
}
</div>