@model LoginViewModel

@section Styles{
    <link rel="stylesheet" href="~/css/LoginScreen.css"/>
}

@{
	ViewData["Title"] = "Home Page";
    Layout = "~/Views/_Layout.cshtml";
}

<form method="post">
    <h2>Login</h2>
    <label>Username:</label>
    <input type="text" name="username"/>
    <br /><br />
    <label>Password:</label>
    <input type="password" name="password"/>
    <br /><br />
    <button>Login</button>
</form>
