@model LoginModel

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/LoginScreen.css"/>
}

@{
	ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <h2>Login</h2>
    <label>Username:</label>
    <input type="text" name="username"/>
    <br /><br />
    <label>Password:</label>
    <input type="password" name="password"/>
    <br /><br />
    <button>Login</button>
    <br/>
    <div class="create"></div>
    @Html.ActionLink("Create User", "CreateUser", "App", null, new { @class = "create" })
</form>
