@model LoginDBModel

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/LoginScreen.css"/>
}

@{
	ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <h2>Login</h2>
    
    <label>Username:</label>
    @Html.EditorFor(model => model.Username)
    <br /><br />
    
    <label>Password:</label>
    @Html.EditorFor(model => model.UserPassword, new {htmlAttributes = new {type = "password"}})
    <br /><br />
    
    <button>Login</button>
    <br /><br />
    
    <midlabel>Don't have an account?</midlabel>
    <br />

    <button type="button" onclick="window.location.href='CreateUser'">Create User</button>
    
</form>
